.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    top: 0;
    position: sticky;

    > * {
        margin-top: auto;
        margin-bottom: auto;
    }

    .pages {
        width: 45%;
        display: flex;
        justify-content: center;

        .page {
            margin-right: 2rem;
            color: var(--text-primary-color);
            text-decoration: none;
            font-size: 1rem;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: var(--text-hover-color);
            }
        }
    }

    .company-logo {
        opacity: 0;
        width: 10%;
        display: flex;
        transition: 500ms opacity ease-in-out;
        img {
            margin: auto;
            height: 3rem;
        }

        &.show {
            opacity: 1;
        }
    }

    .actions {
        width: 45%;
        display: flex;
        justify-content: center;

        .page {
            margin-right: 2rem;
            color: var(--text-primary-color);
            background-color: transparent;
            border: 0;
            cursor: pointer;
            font-size: 1rem;
            padding: 0;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: var(--text-hover-color);
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .navbar-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 4rem;
        top: 0;
        position: sticky;
    
        > * {
            margin-top: auto;
            margin-bottom: auto;
        }
    
        .pages {
            display: none;
            width: 45%;
            // display: flex;
            justify-content: center;
    
            .page {
                margin-right: 2rem;
                color: var(--text-primary-color);
                text-decoration: none;
                font-size: 1rem;
    
                &:last-child {
                    margin-right: 0;
                }
    
                &:hover {
                    color: var(--text-hover-color);
                }
            }
        }
    
        .company-logo {
            opacity: 0;
            width: auto;
            display: flex;
            transition: 500ms opacity ease-in-out;
            img {
                margin: auto;
                height: 3rem;
            }
    
            &.show {
                opacity: 1;
            }
        }
    
        .actions {
            width: 45%;
            // display: flex;
            justify-content: center;
            display: none;
    
            .page {
                margin-right: 2rem;
                color: var(--text-primary-color);
                background-color: transparent;
                border: 0;
                cursor: pointer;
                font-size: 1rem;
                padding: 0;
    
                &:last-child {
                    margin-right: 0;
                }
    
                &:hover {
                    color: var(--text-hover-color);
                }
            }
        }
    }
}